@import "./home.scss";
@import "./portal.scss";
@import "./dashboard.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root {
    --primary: #16161a;
    --primary-dark: #010101;
    --secondary: #7f5af0;
    --secondary-hover: #7f5af0;
    --tertiary: #2cb67d;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-primary {
    background-color: var(--primary);
}

.container-full {
    min-height: 100vh;
}

.btn-round {
    border: none;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    cursor: pointer;

    span {
        color: white;
        font-size: 1.2em;
    }

    &:hover {
        background-color: var(--secondary-hover);
    }

    &:active {
        background-color: var(--secondary-active);
    }
}

.btn-primary {
    font-size: 0.9em;
    padding: 0.6em 1.4em;
    border: 1px solid #575757;
    border-radius: 0.4em;
    background-color: var(--primary-dark);
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    transition: background-color 0.3s ease 0s;

    &:hover {
        background-color: var(--secondary);
    }
}


.center-portal {
    justify-content: center !important;
}