#home {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-bottom:9.8em;

    .landing-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}